<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oldcartoon2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application android:theme="@style/ExampleTheme"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".FragmentChangeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.waps.OffersWebView"
            android:configChanges="keyboardHidden|orientation" /> <!-- 以下属性为应⽤用ID,从万普后台获取 -->
        <meta-data
            android:name="WAPS_ID"
            android:value="6abfbfd0265229f25f4ef7ccaa8ec722" /> <!-- 以下属性为分发渠道ID,编码表参⻅见本⽂文档末附表 -->
        <meta-data
            android:name="WAPS_PID"
            android:value="gfan" />
    </application>

</manifest>